<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> My Online CV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
        <link href="">
    </head>
        <h1> CV online </h1>
    <body>
        <div>
            <h2>
                <p>
                <label for="name">Resumen</label>
                </p>
                {{name}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name2">Experiencia Laboral</label>
                </p>
                {{name2}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name3">Estudios</label>
            </p>
                {{name3}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name4">Logros</label>
            </p>
                {{name4}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name5">Habilidades</label>
            </p>
                {{name5}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name6">Intereses</label>
            </p>
                {{name6}}
            </h2>
        </div>
        <div>
            <h2>
                <p>
                <label for="name7">Referencias</label>
            </p>
                {{name7}}
            
            </h2>
        </div>
    </p>
    </body>