<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0 minimum-scale=1.0">
        
        <script src="https://kit.fontawesome.com/89f16e3413.js" crossorigin="anonymous"></script>      
        <link rel="stylesheet" href="{{ url_for('static', filename='ESTILOS.css') }}">
    <body>
        <form class="formulario">
            <h1>Registrate</h1>
            <div class="contenedor">

                <div class="input-contenedor">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Nombre Completo">

                </div>
                <div class="input-contenedor">
                    <i class="fas fa-envelope"></i>
                    <input type="text" placeholder="Correo Electrónico">

                </div>
                <div class="input-contenedor">
                    <i class="fas fa-unlock"></i>
                    <input type="text" placeholder="Contraseña">

                </div>
                <a class="button" href="pagina.html">Registrate</a>
                <p>Al registrarte aceptas ser un fiel miembro a la orden jedi y no dejarte llevar por el lado oscuro</p>
                <p>¿Ya eres un honorable jedi?<a class="link" href="LOGINVISTA.HTML">Iniciar sesión</a></p>
            </div>
        </form>
    </body>
    </head>

</html>